{% extends 'web/base.html.twig' %}

{% block body %}
    <h1>User index</h1>

    <a href="{{ path('app_user_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>PreName</th>
                <th>FamilyName</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.preName }}</td>
                <td>{{ user.familyName }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
