{% extends 'web/base.html.twig' %}
{% import 'web/includes/macro/_head.html.twig' as headMacro %}

{% trans_default_domain 'appointment' %}

{% block keywords %}{{ 'appointment.list.keywords'|trans([], 'seo') }}{% endblock %}

{% block body %}
    {{ headMacro.headblock(
        'index.headline'|trans,
        '<a class="btn btn-sm btn-outline-success" href="' ~ path('app_appointment_archive_index') ~ '">Zeige Archivierte</a>',
        '<a class="btn btn-sm btn-outline-success" href="' ~ path('app_appointment_new') ~ '">' ~ "index.addNew"|trans ~ '</a>'
    ) }}

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Ort</th>
                        <th>Wachbeginn</th>
                        <th>Wachhabende</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.title }}</td>
                            <td>{{ appointment.venue.name }}</td>
                            <td>{{ appointment.startDateTime ? appointment.startDateTime|to_german_datetime : '' }}</td>
                            <td>
                                {% for user in appointment.users %}
                                    {{ user.preName }} {{ user.familyName }}<br/>
                                {% endfor %}
                            </td>
                            <td class="text-end">
                                <a href="{{ path('app_appointment_show', {'id': appointment.id}) }}">Details</a>
                                <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">Bearbeiten</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}