{% extends 'web/base.html.twig' %}

{% block body %}
    <div class="container mt-2">
        <div class="row align-items-center">
            <div class="col">
                <a href="{{ path('app_appointment_index') }}">Zur Übersicht</a>
            </div>
            <div class="col">
                <h1 class="h2">Veranstaltungsdetails</h1>
            </div>
            <div class="col text-end">
                <a href="{{ path('app_pdf_generator_generate_appointment_pdf', {id: appointment.id}) }}">Download als
                    PDF</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ appointment.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ appointment.title }}</td>
                    </tr>
                    <tr>
                        <th>Wachbeginn</th>
                        <td>{{ appointment.startDateTime ? appointment.startDateTime|to_german_datetime : '' }}</td>
                    </tr>
                    <tr>
                        <th>Beschreibung</th>
                        <td>{{ appointment.description }}</td>
                    </tr>
                    <tr>
                        <th>Veranstaltungsort</th>
                        <td>{{ appointment.venue.name }}</td>
                    </tr>
                    <tr>
                        <th>Wachhabende</th>
                        <td>
                            {% for user in appointment.users %}
                                {{ user.preName }} {{ user.familyName }}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                {{ include('web/appointment/_delete_form.html.twig') }}
            </div>
            <div class="col text-end">
                <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}"
                   class="btn btn-outline-primary">Bearbeiten</a>
            </div>
        </div>
    </div>
{% endblock %}
